
<div class="navbar bg-dark text-white">
  <div class="navbar-brand">
    
    <div>Angular With Node JS Express And MongoDB</div>
  
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/Products">Products List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/AddProduct">Add Product</a>
      </li>
    </ul>

  </div>
</div>

<div>
    
    <div class="container">
        <router-outlet></router-outlet>
    </div>
 </div>

 <!-- Footer -->
<footer class="page-footer font-small bg-dark text-white">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    Linor Avni
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->